/* tag 선택자 */
div {
    background-color: #f00;
    /* 속성: 속성값; */
    color: #fff;
    /* color = 글자색 */
    width: 50%;
}

/* div:nth-child(1) {
    background-color: #ff0;
} */
/* 안쓰는 자식 이름방법 */

/* id 선택자
: tag 선택자보다 우선한다.
: 한 html 문서에서 id 선택자는 중복사용 할 수 없다.
: 명확한 선택을 할 수 있다.
*/
#a01 {
    background-color: #ff0;
}

/* class 선택자
: tag 선택자보다 우선한다.
: 한 html 문서에서 id 선택자는 중복사용 할 수 있다.
*/

.a01 {
    background-color: #0f0;
}

/* div {
    background-color: #00f !important;
} */

/* id(100) > class(10) > tag(1) */

.inner {
    background-color: #f00;
}

/* 후손선택자 A B */
#sec01 .inner {
    background-color: #ff0;
    color: #fff;
}

/* 자식선택자 A > B */
#sec01>.inner {
    background-color: #369;
}

.inner {
    background-color: #000;
}

#sec01 p {
    color: #f00;
}